@tailwind base;
@tailwind components;
@tailwind utilities;

.race {
    background-image: url("/img/races.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
}

.terran {
    background-position: 0 -1024px;
}

.zerg {
    background-position: 0 -992px;
}

.protoss {
    background-position: 0 -1172px;
}

.link-tr {
    display: table-row;
}
